{% extends 'base.html' %}

{%block title%}{{post_datails.user.username}}{%endblock title%}

{% block content %}
<div class="edica-loader"></div>
<header class="edica-header">
    <div class="container">
        {% include 'nav.html' %}
    </div>
</header>

<main class="blog-post">
    <div class="container">
        <h4 class="edica-page-title" data-aos="fade-up">{{post_details.title}}</h4>
        <p class="edica-blog-post-meta" data-aos="fade-up" data-aos-delay="200">Written by
            <a href="#">{{post_details.user.username}}</a> • {{post_details.created_at | date:"D d M Y"}},
            {{ post_details.created_at|time:"h:i A" }} • {{comment_count}} Comment{{comment_count|pluralize}}
        </p>
        <section class="blog-post-featured-img" data-aos="fade-up" data-aos-delay="300">
            <img src="{{post_details.blog_image.url}}" height="500px" alt="featured image" class="h-[300px] w-100">
        </section>
        <section class="post-content">
            <div class="row">
                <div class="col-lg-9 mx-auto" data-aos="fade-up">
                    <h4>{{post_details.title}}</h4>
                    <p>{{post_details.content}}</p>
                </div>
                <div class="col-lg-9 mx-auto" data-aos="fade-up">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <textarea name="comment" rows="5" cols="50" class="form-control"
                            placeholder="comment"></textarea>
                        <br>
                        <button type="submit" class="btn btn-success btn-md">submit</button>
                    </form>
                </div>
                <div class="col-lg-9 mx-auto" data-aos="fade-up">
                    {% for comment in comments %}
                    <p
                        style="border-radius:10px; font-size:15px;padding:10px;border:1px solid white;margin-top:15px; box-shadow: 4px 4px 4px 4px #F5F5F5">
                        <span>
                            <span><b>{{comment.user}}</b></span><small> {{comment.created_at | timesince }}
                                ago</small><br>
                        </span>
                        {{comment.comment}}
                    </p>
                    {% endfor %}


                </div>
            </div>


        </section>
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <section class="related-posts">
                    <h2 class="section-title mb-4" data-aos="fade-up">Related Posts</h2>
                    <div class="row">
                        {% for rpost in related_post %}
                        <div class="col-md-4" data-aos="fade-right" data-aos-delay="100">
                            <img src="{{rpost.blog_image.url}}" height="200" alt="related post" class="post-thumbnail">
                            <p class="post-category">Blog post</p>
                            <a href="{% url 'post_detail' rpost.id %}" class="blog-post-permalink">
                                <h5 class="post-title">{{rpost.title}}</h5>
                            </a>
                        </div>
                        {% endfor %}

                    </div>
                </section>
                <section class="comment-section">
                    <h2 class="section-title mb-5" data-aos="fade-up">Leave a Reply</h2>
                    <form action="/" method="post">
                        <div class="row">
                            <div class="form-group col-12" data-aos="fade-up">
                                <label for="comment" class="sr-only">Comment</label>
                                <textarea name="comment" id="comment" class="form-control" placeholder="Comment"
                                    rows="10">Comment</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4" data-aos="fade-right">
                                <label for="name" class="sr-only">Name</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Name*">
                            </div>
                            <div class="form-group col-md-4" data-aos="fade-up">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email*"
                                    required>
                            </div>
                            <div class="form-group col-md-4" data-aos="fade-left">
                                <label for="website" class="sr-only">Website</label>
                                <input type="url" name="website" id="website" class="form-control"
                                    placeholder="Website*">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" data-aos="fade-up">
                                <input type="submit" value="Send Message" class="btn btn-warning">
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</main>

<section class="edica-footer-banner-section pt-5">
    <div class="container">
        <div class="footer-banner" data-aos="fade-up">
            <h1 class="banner-title">Download it now.</h1>
            <div class="banner-btns-wrapper">
                <button class="btn btn-success"> <img src="#" alt="ios" class="mr-2"> App
                    Store</button>
                <button class="btn btn-success"> <img src="#" alt="android" class="mr-2">
                    Google Play</button>
            </div>
            <p class="banner-text">Add some helper text here to explain the finer details of your <br> product or
                service.</p>
        </div>
    </div>
</section>
<footer class="edica-footer" data-aos="fade-up">
    <div class="container">
        <div class="row footer-widget-area">
            <div class="col-md-3">
                <a href="index.html" class="footer-brand-wrapper">
                    <img src="#" alt="edica logo">
                </a>
                <p class="contact-details">hello@edica.com</p>
                <p class="contact-details">+23 3000 000 00</p>
                <nav class="footer-social-links">
                    <a href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a href="#!"><i class="fab fa-twitter"></i></a>
                    <a href="#!"><i class="fab fa-behance"></i></a>
                    <a href="#!"><i class="fab fa-dribbble"></i></a>
                </nav>
            </div>
            <div class="col-md-3">
                <nav class="footer-nav">
                    <a href="#!" class="nav-link">Company</a>
                    <a href="#!" class="nav-link">Android App</a>
                    <a href="#!" class="nav-link">ios App</a>
                    <a href="#!" class="nav-link">Blog</a>
                    <a href="#!" class="nav-link">Partners</a>
                    <a href="#!" class="nav-link">Careers</a>
                </nav>
            </div>
            <div class="col-md-3">
                <nav class="footer-nav">
                    <a href="#!" class="nav-link">FAQ</a>
                    <a href="#!" class="nav-link">Reporting</a>
                    <a href="#!" class="nav-link">Block Storage</a>
                    <a href="#!" class="nav-link">Tools & Integrations</a>
                    <a href="#!" class="nav-link">API</a>
                    <a href="#!" class="nav-link">Pricing</a>
                </nav>
            </div>
            <div class="col-md-3">
                <div class="dropdown footer-country-dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="footerCountryDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="flag-icon flag-icon-gb flag-icon-squared"></span> United Kingdom <i
                            class="fas fa-chevron-down ml-2"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="footerCountryDropdown">
                        <button class="dropdown-item" href="#">
                            <span class="flag-icon flag-icon-us flag-icon-squared"></span> United States
                        </button>
                        <button class="dropdown-item" href="#">
                            <span class="flag-icon flag-icon-au flag-icon-squared"></span> Australia
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-content">
            <nav class="nav footer-bottom-nav">
                <a href="#!">Privacy & Policy</a>
                <a href="#!">Terms</a>
                <a href="#!">Site Map</a>
            </nav>
            <p class="mb-0">© Edica. 2020 <a href="https://www.bootstrapdash.com" target="_blank"
                    rel="noopener noreferrer" class="text-reset">bootstrapdash</a> . All rights reserved.</p>
        </div>
    </div>
</footer>
{% endblock content%}