{%extends 'base.html'%}
{%load static %}
{%block title%}settings{%endblock title%}
{%block content %}
<div class="edica-loader"></div>
<header class="edica-header">
    <div class="container">
        {% include 'nav.html' %}
    </div>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-11 mx-auto">
                <section class="edica-404 mb-4 rounded-lg bg-light"
                    style="padding-top:50px;background-color: aqua;padding-left:50px;">

                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{profile.image.url}}" width="200" height="200" alt="ios" class="mr-2">
                            <div style="margin-top:20px">
                                <p><b>User Name:</b> {{user.username}}</p>
                                <p><b>Email:</b> {{user.email}}</p>
                                {% if profile.firstname == profile.last %}

                                {% else %}
                                <p><b>Frist Name:</b> {{profile.firstname}}</p>
                                <p><b>Last Name:</b> {{profile.lastname}}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-left: 20px;padding-right: 40px;">
                            <h4>Update Profile</h4>
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <p>{{profile.image}}</p>
                                <input type="file" name="image">

                                <div class="form-group" style="padding-top:20px">
                                    <input type="text" class="form-control" name="firstname"
                                        value="{{profile.firstname}}">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" name="lastname"
                                        value="{{profile.lastname}}">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary btn-md">Update</button>

                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>

<section class="edica-footer-banner-section">
    <div class="container">
        <div class="footer-banner" data-aos="fade-up">
            <h1 class="banner-title">Download it now.</h1>
            <div class="banner-btns-wrapper">
                <button class="btn btn-success"> <img src="assets/images/apple@1x.svg" alt="ios" class="mr-2"> App
                    Store</button>
                <button class="btn btn-success"> <img src="assets/images/android@1x.svg" alt="android" class="mr-2">
                    Google Play</button>
            </div>
            <p class="banner-text">Add some helper text here to explain the finer details of your <br> product or
                service.</p>
        </div>
    </div>
</section>
<footer class="edica-footer" data-aos="fade-up">
    <div class="container">
        <div class="row footer-widget-area">
            <div class="col-md-3">
                <a href="index.html" class="footer-brand-wrapper">
                    <img src="assets/images/logo.svg" alt="edica logo">
                </a>
                <p class="contact-details">hello@edica.com</p>
                <p class="contact-details">+23 3000 000 00</p>
                <nav class="footer-social-links">
                    <a href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a href="#!"><i class="fab fa-twitter"></i></a>
                    <a href="#!"><i class="fab fa-behance"></i></a>
                    <a href="#!"><i class="fab fa-dribbble"></i></a>
                </nav>
            </div>
            <div class="col-md-3">
                <nav class="footer-nav">
                    <a href="#!" class="nav-link">Company</a>
                    <a href="#!" class="nav-link">Android App</a>
                    <a href="#!" class="nav-link">ios App</a>
                    <a href="#!" class="nav-link">Blog</a>
                    <a href="#!" class="nav-link">Partners</a>
                    <a href="#!" class="nav-link">Careers</a>
                </nav>
            </div>
            <div class="col-md-3">
                <nav class="footer-nav">
                    <a href="#!" class="nav-link">FAQ</a>
                    <a href="#!" class="nav-link">Reporting</a>
                    <a href="#!" class="nav-link">Block Storage</a>
                    <a href="#!" class="nav-link">Tools & Integrations</a>
                    <a href="#!" class="nav-link">API</a>
                    <a href="#!" class="nav-link">Pricing</a>
                </nav>
            </div>
            <div class="col-md-3">
                <div class="dropdown footer-country-dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="footerCountryDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="flag-icon flag-icon-gb flag-icon-squared"></span> United Kingdom <i
                            class="fas fa-chevron-down ml-2"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="footerCountryDropdown">
                        <button class="dropdown-item" href="#">
                            <span class="flag-icon flag-icon-us flag-icon-squared"></span> United States
                        </button>
                        <button class="dropdown-item" href="#">
                            <span class="flag-icon flag-icon-au flag-icon-squared"></span> Australia
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-content">
            <nav class="nav footer-bottom-nav">
                <a href="#!">Privacy & Policy</a>
                <a href="#!">Terms</a>
                <a href="#!">Site Map</a>
            </nav>
            <p class="mb-0">© Edica. 2020 <a href="https://www.bootstrapdash.com" target="_blank"
                    rel="noopener noreferrer" class="text-reset">bootstrapdash</a> . All rights reserved.</p>
        </div>
    </div>
</footer>
{% endblock content %}