{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edica :: Home</title>
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/font-awesome/css/all.min.css' %}">
    <link href="{% static 'assets/vendors/aos/aos.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <script src="{% static 'assets/vendors/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/loader.js' %}"></script>
   
</head>

<body>
    {% block content %}

    {% endblock content %}

    <script src="{% static 'assets/vendors/popper.js/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/aos/aos.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script>
        AOS.init({
            duration: 2000
        });
    </script>
</body>

</html>